# data & artifacts
/data/
/models/

# IDE
.idea/

# Jupyter
notebooks/.ipynb_checkpoints/

# MLflow
mlruns/
mlflow.db

# python cache
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

# virtual environments
.venv/
venv/

# logs
*.log

# OS junk
.DS_Store

# coverage
.coverage
htmlcov/

# monitoring reports
reports/

# notebooks outputs
notebooks/data/
notebooks/submission_*.csv
notebooks/predictions_*.csv
